.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.display-info {
  padding-top: 2%;
  text-align: center;
  line-height: 1.5em;
  border: 1px solid #C9C9C9;
}

.hidden{
  display: none;
}

.button {
  background-color: #C9C9C9;
  margin: 2% 35%;
  border: 1px solid #000;
  border-radius: 5px;
}